.sortOrder:after {
    content: '\25b2'
}

.sortOrder.reverse:after {
    content: '\25bc'
}

table {
    table-layout: fixed;
    width: 100%;
}

.graphSection {
    column-count: 2;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    height: 100%;
    column-rule-style: solid;
    column-rule-color: lightgray;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
  }

@media only screen and (max-width: 1000px) {
    .graphSection {
        column-count: 1;
        row-gap: 10px;
        column-gap: 10px;
        width: 1000px;
        height: 100%;
        column-rule-style: solid;
        column-rule-color: lightgray;
    }

    table {
        table-layout: fixed;
        width: 1000px;
    }
}
